.countdown-container {
    @include center-item($pull-x: -50%, $pull-y: -50%, $top: 50%, $left: 50%);
}

.date-picker-container {
    @include center-item($pull-x: -15%, $pull-y: -50%, $top:0, $left: 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-container {
    width: 100vw;
    height: 100vh;
}

.date-picker {
    border: none;
    border-bottom: 1px solid var(--minor-primary);
    text-align: center;
    font-size: 75px;
    background-color: transparent;
    padding: 35px 0;
    color: var(--grey-primary);
    font-weight: bold;
    font-family: var(--roboto-condensed);
    transition: all .3s ease;

    &:focus {
        border-bottom: 5px solid var(--main-secondary);
        outline: none;
        padding: 0;
    }
}

.submit-container {
    transform: skew(-30deg);
    height: 50px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    text-align: center;
    font-size: 1.25em;
    margin-top: 42px;
    background-color: var(--main-primary);
    
}

.submit-container input {
    transform: skew(30deg);
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 200;
    font-size: 18px;
}