.countdown {
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-primary);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(14.4% 50%, 92% 50%, 85.6% 70%, 8% 70%);
}

.countdown__clock {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20%;
    width: 71.2%;
    padding: 0;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-around;
    align-content: center;
}

.change-date {
    color: white!important;
    position: absolute;
    left: 20%;
    top: 45%;
    font-weight: 18px;
    font-size: 100;
}