

.countdown {
    @include center-item;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-primary);
    color: white;
    clip-path: polygon(14.4% 50%, 92% 50%, 85.6% 70%, 8% 70%);
}

.countdown__clock {
    @include clock-dimensions;
    position: absolute;
    top: 52%;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-around;
    align-content: center;
}

.change-date {
    color: white!important;
    position: absolute;
    left: 21.5%;
    top: 45%;
    font-weight: 18px;
    font-size: 100;
}


.message-container {
   @include clock-dimensions;
   @include center-item($pull-y: 0%);
    margin-top: 20px;
}

.message-container__title {
    @include center-item($pull-x: 0, $pull-y: 0, $top: 5%, $left: 10%);
    font-family: var(--roboto-condensed);
    color: var(--minor-primary);
    font-size: 22px;
   
}

.message-container__message {
    @include center-item($pull-x: 0, $pull-y: 0, $top: 15%, $left: 10%);
    font-family: var(--roboto-condensed);
    font-size: 90px;
    font-weight: bold;
    width: 100%;
}



ul li {
    list-style: none;
    color: var(--minor-primary);
    font-size: 22px;
    font-family: var(--roboto-condesned);
}

ul p {
    color: white;
    font-size: 90px;
    line-height: 115px;

}

.until-container {
    @include center-item($top: 85%, $left: 50%);
}






