

.countdown {
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-primary);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(14.4% 50%, 92% 50%, 85.6% 70%, 8% 70%);
}

.countdown__clock {
    @include clock-dimensions;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-around;
    align-content: center;
}

.change-date {
    color: white!important;
    position: absolute;
    left: 20%;
    top: 45%;
    font-weight: 18px;
    font-size: 100;
}


.message-container {
   @include clock-dimensions;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}

.message-container__title {
    font-family: var(--roboto-condensed);
    color: var(--minor-primary);
    font-size: 22px;
    position: absolute;
    left: 10%;
    top: 5%;
}

.message-container__message {
    font-family: var(--roboto-condensed);
    font-size: 90px;
    font-weight: bold;
    position: absolute;
    left: 10%;
    bottom: 5%;
    width: 100%;
}







